---
Language: Cpp
BasedOnStyle: LLVM
AlignOperands: true
AllowShortIfStatementsOnASingleLine: false
IndentWidth: '4'
TabWidth: '4'
UseTab: Never;
AccessModifierOffset: '-4'
AlignAfterOpenBracket: DontAlign
AlignEscapedNewlines: Right
AlignTrailingComments: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: InlineOnly
BreakBeforeBraces: Allman
BreakConstructorInitializersBeforeComma: true
ColumnLimit: '0'
PointerAlignment: Left
SpacesInAngles: false
BraceWrapping: 
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
IncludeCategories: 
  - Regex: '^"(llvm|llvm-c|clang|clang-c)/'
    Priority: 2
    SortPriority: 0
  - Regex: '^(<|"(gtest|gmock|isl|json)/)'
    Priority: 3
    SortPriority: 0
  - Regex: '.*'
    Priority: 1
    SortPriority: 0
IncludeIsMainRegex: '(Test)?$'
MacroBlockBegin: ''
MacroBlockEnd: ''
...
